<!-- login form -->
<div ng-controller="LoginController">
    <div class="alert alert-danger ag-show-hide" ng-cloak ng-show="error">
        Упс! {[{error}]}
    </div>
    
    <div class="alert alert-success ag-show-hide" ng-cloak ng-show="success">
        Ура! {[{success}]}
    </div>
    
    <form ng-init="form.password = false" ng-show="!form.password" name="login_form" class="form login-form ag-show-hide" ng-submit="processLoginForm()" role="form" method="post" accept-charset="UTF-8">

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" name="_username" ng-model="login._username" class="form-control" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" required value="">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" name="_password" ng-model="login._password" class="form-control" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" required value="">
        </div>
        <div class="checkbox">
            <div class="row">
                <div class="col-xs-4">
                <label><input type="checkbox" name="_remember_me" ng-model="login._remember_me" value="on"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                </div>
                <div class="col-xs-8 text-right">
                    <a href ng-click="form.password = true; error = false">забыл пароль</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" ng-disabled="login_form.$invalid" name="_submit" class="btn btn-success btn-block">
                <span ng-cloak ng-init="loading.login = false" ng-show="loading.login"><i class="fa fa-spinner fa-spin fa-lg"></i> </span>
                {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
            </button>
        </div>
        
        <input type="hidden" name="_csrf_token" value="{[{login._csrf_token}]}" ng-init="login._csrf_token='{{ fos_csrf_provider.generateCsrfToken('authenticate') }}'" />
    </form>

    <!-- reset password -->

    <form ng-show="form.password" ng-cloak name="reset_form" class="form reset-form ag-show-hide" ng-submit="processResetForm()" >
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" name="_username" ng-model="remind._username" class="form-control" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" required value="">
        </div>
        <div class="checkbox">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <a href ng-click="form.password = false; error = false">отмена</a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" ng-disabled="reset_form.$invalid" name="_submit" class="btn btn-success btn-block">
                <span ng-cloak ng-init="loading.password = false" ng-show="loading.password"><i class="fa fa-spinner fa-spin fa-lg"></i> </span>
                Восстановить
            </button>
        </div>
    </form>
</div>