<ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
    <li>
        <div class="row">
            <div class="col-md-12" ng-controller="LoginController">
                <form class="form navbar-login-form" form-autofill-fix ng-submit="processForm()" role="form" method="post" data-href="{{ path("fos_user_security_check") }}" accept-charset="UTF-8" id="navbar-login-form">
                    
                    <div class="alert alert-danger" ng-show="error">
                        Упс! {[{error}]}
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" name="_username" ng-model="login._username" class="form-control" id="navbar-login-username" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" required ng-required value="">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" name="_password" ng-model="login._password" class="form-control" id="navbar-login-password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" required ng-required value="">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="_remember_me" ng-model="login._remember_me" value="on"> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="_submit" class="btn btn-success btn-block">
                            <span ng-show="loading"><i class="fa fa-spinner fa-spin fa-lg"></i> </span>
                            {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
                        </button>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{[{login._csrf_token}]}" ng-init="login._csrf_token='{{ fos_csrf_provider.generateCsrfToken('authenticate') }}'" />
                </form>
            </div>
        </div>
    </li>
<li class="divider"></li>
<li>
    <form id="ulogin-form">
        <script src="//ulogin.ru/js/ulogin.js"></script>
        <div id="uLogin" data-ulogin="display=panel;fields=first_name,last_name;providers=vkontakte,facebook,mailru,google;hidden=other;redirect_uri=http%3A%2F%2Ftest.home"></div>
    </form>
</li>
</ul>