{% spaceless %}
<!DOCTYPE html>
<html lang="ru" ng-app="agApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="{% block meta_keywords %}AutoGRU{% endblock %}">
        <meta name="author" content="webmalc">
        <meta name="description" content="{% block meta_description %}AutoGRU project{% endblock %}">
        <title>{% block meta_title %}AutoGRU{% endblock %}</title>

        {% block styles %}
            <!-- Bootstrap -->
            <!-- default //netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css-->
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.1.0/flatly/bootstrap.min.css"/>
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
            {% stylesheets filter='cssrewrite, uglifycss'
                '@AGBaseBundle/Resources/public/css/vendor/*'
                '@AGBaseBundle/Resources/public/css/app/*'
            %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    
    <body>
        {% block body %}{% endblock %}
        
        {% block scripts %}
        <!-- Scripts -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-animate.min.js"></script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min.js"></script>
            <script src="//ulogin.ru/js/ulogin.js"></script>
            
            {% if app.environment == 'dev' %}
            
                <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
                {% javascripts filter='uglifyjs2'
                    '@AGBaseBundle/Resources/public/js/vendor/*'
                    '@AGBaseBundle/Resources/public/js/app/directives/*'
                    '@AGBaseBundle/Resources/public/js/app/services/*'
                    '@AGBaseBundle/Resources/public/js/app/*'
                %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
                {% endjavascripts %}
            
            {% else %}
                
                    {% javascripts filter='uglifyjs2'
                        '@AGBaseBundle/Resources/public/js/vendor/*'
                        'bundles/fosjsrouting/js/router.js'
                        'js/fos_js_routes.js'
                        '@AGBaseBundle/Resources/public/js/app/directives/*'
                        '@AGBaseBundle/Resources/public/js/app/services/*'
                        '@AGBaseBundle/Resources/public/js/app/*'
                    %}
                    <script type="text/javascript" src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                
            {% endif %}
        {% endblock %}

    </body>
</html>
{% endspaceless %}

